.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width:100%;
}
header {
    display: flex; 
    align-items: center; 
    padding: 0 20px;
    background-color:red;
    height:8vh;
}
header h1 {
    margin: 0;
    font-size:60px;
}
header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}
header a {
    float:right;
    padding:8px;
    text-decoration:none;
    color:black;
    text-align:center;
    background-color:rgb(255, 255, 0);
    border:1px solid black;
    border-radius:5px;
    margin-right:5px;
    transition:1s;
}
header a:hover {
    transition:1s;
    background-color:aqua;
}
main {
    background-color:yellowgreen;
    color: black;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width:100%;
    height:auto;
}
#slider {
    width: 100%;
    height: 500px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
}
footer {
    background-color: black;
    color: white;
    height: 8vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    margin-right:20px;
}
footer a {
    text-decoration:none;
    color:white;
}
